@media (min-width: 1024px) {
  .where-column {
    width: 47%;
    float: left;
    clear: left;
  }

  #where-location {
  }

  #where-named {
    margin-left: 1em;
    float: left;
    clear: none;  
  }
}
